<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>prop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>prop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>prop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>prop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>prop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop.png</string>
            <key>size</key>
            <string>{208,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b24666729e628bd9f2246dd4796b3e$</string>
            <key>textureFileName</key>
            <string>prop.png</string>
        </dict>
    </dict>
</plist>
